*{
    font-family: "Poppins", sans-serif;
}

.font-bangla{
    font-family: 'Hind Siliguri', sans-serif;
}

.header {
    background-color: rgba(186, 222, 255, 0.26);
}

.font-inter {
    font-family: 'Inter', sans-serif;
}
.wordCard i{
    font-size: 24px;
    color: #374957;
}

.empty-vocabulary {
    color: grayscale(500);
}

.active {
    background-color: rgb(65,42,213);
    color: white;
}

.passive {
    background-color: white;
    color: rgb(65,42,213);
}